
<div class="d-inline-flex">
<div class="d-flex flex-column"> 
    
    <div class="d-flex flex-row">
    <img class="float-left" src="../assets/img/bookSpiral.jpg" alt="book spiral">
    </div>

    <div class="d-flex flex-row">
       <!-- <div class="container">  -->
         <div class="card-deck">  

        <div class="card mb-2">
            <div class="card-body">
            <h4 class="card-title">Welcome to Mybrary!</h4>
            <p class="card-text">Mybrary is an online lending library.</p>
            </div>  
        </div>
        
        <div class="card mb-2">
            <div class="card-body">
            <h4 class="card-title">How it works:</h4>
            <p class="card-text">Users can list their book and/or music to lend out and browse eachothers collections.</p>     
            </div>  
        </div>

        <div class="card mb-2">
            <div class="card-body">
            <h4 class="card-title">New to the site?</h4>
            <p class="card-text">Create an account here:</p>
            <button routerLink="/register">Register</button>
             </div>  
        </div>

    </div>   
    <!-- </div> -->
    </div>

</div>
</div>