<div class="float-left">
<div class="container">
    <div class="row">
    <img class="rounded float-left" src="../assets/img/bookShelf.jpg" alt="book shelf">
    </div>

    <div class="row">
        <div class="col-2">
            <p>Welcome to Mybrary! The online lending library.</p>
        </div>
        <div class="col-2">
            <p>How it works: Users list their books, records, and/or movies to lend out to other users.</p>
        </div>
        <div class="col-2">
            <p>New to the site? Click here to create an acoount!</p>
            <button>Not Ready Yet</button>
        </div>
    </div>


</div>
</div>