
img {
    width: 50%;
    height: 50%;
    padding: 20px;
    
} 
.card {
    background-color: lightgreen;
}
.card-deck{
    padding-left: 20px;
    width: 50%;
    flex-wrap: wrap;
    flex: initial;
}
