
<div class="bg" id="image">

<div class="container-fluid">
<div class="row">

<div class="col-md-6">
    <img src="../assets/img/fairy-tale2.jpg" alt="fairy-tale2">
</div>
    

<div class="col-md-6">
     <div class="card-deck">  

        <div class="card mb-2">
            <div class="card-body">
            <h3 class="card-title">Welcome to Mybrary!</h3>
            <p class="card-text">Mybrary is an online lending library where users can lend out and borrow eachother's books and other collections.</p>
            </div>  
        </div>
        
        <div class="card mb-2">
            <div class="card-body">
            <h3 class="card-title">How it works:</h3>
            <p class="card-text">List your own books and/or music to lend out and browse other user's collections.</p>     
            </div>  
        </div>

        <div class="card mb-2">
            <div class="card-body">
            <h3 class="card-title">New to the site?</h3>
            <p class="card-text">Sign up and create a free account here:</p>
            <button class="btn btn-success btn-lg" routerLink="/register">Register</button>
             </div>  
        </div>

    </div>   
</div>

</div> 
</div>

</div>