
img {
    width: 790px;
    height: 545px;
    padding: 20px;
    
} 

.row {
    display: flex;
}

.col-md-6 {
    flex: 50%;
    align-content: center;
}

.card {
    background-color: teal;
}

.card-deck{
    padding: 20px;
    
    /* width: 80%;   */
    flex-wrap: wrap;
    flex: initial; 
}

.bg::after {
    content: "";
    background: url("/../assets/img/bgBooks.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

p{
    font-size: 160%;
}
.button{
    border: 1px solid black;
}
