.bg-dark{
    background-color: seagreen !important;
}
.nav-item{
    padding-left: 50px;
}

.navbar-brand {
    font-size: 45pt;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Brush Script MT";
    background-color: lightgreen;
    border: solid black;
    margin-left: 20px;
}

#links a {
    
    font-size:15pt;
}



