.bg-dark{
    background-color: teal !important;
}
.nav-item{
    padding-left: 50px;
}

.navbar-brand {
    font-size: 40pt;
    padding-left: 20px;
}

#links a {
    
    font-size:15pt;
}

/* from bookCRUD: 
.container {
    padding: 20px;
  }*/

