<div class="example-container">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="accent" [routerLink]="['/']">Back to Account</a>
    </div>
    <mat-card class="example-card">
      <mat-card-content>
        <h4>{{lendingBook.title}}</h4>
        <h4>{{lendingBook.author}}</h4>
        <h4>{{lendingBook.genre}}</h4>
      </mat-card-content>
      
      <mat-card-actions>
        <a mat-flat-button color="accent" [routerLink]="['/edit-lending-book', lendingBook._id]">Edit</a>
        <a mat-flat-button color="warn" (click)="deleteBook(lendingBook._id)">Delete</a>
      </mat-card-actions>
    </mat-card>
  </div>

  